{% extends "base.html" %}
{% block body %}
{% include "navbar.html" %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">

<section class="hero is-primary is-bold is-large">
  <h1>Learn signs of Alphabet</h1>

  <div class="hero-body">

    <div class="container">


      <div class="row ">
        <div class="col">
          <div class="card shadow-sm">
            <img src="{{url_for('static',filename="A.png")}}"  width="100%" height="225">
            <div class="card-body">
              <p class="card-text">The letter A is signed by holding up your dominant hand in a fist, facing outward, with the thumb sticking up to the side of the fist. This looks like the small letter 'a', but upside down, where the thumb sticking up reminds you of the serif sticking out the side of the small letter 'a'.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="{{url_for('static',filename="B.png")}}"  width="100%" height="225">
            <div class="card-body">
              <p class="card-text">The letter B is signed by holding up your dominant hand open, with palm facing out and all 4 fingers standing straight and kept together, while tucking your thumb into your palm. This somehow resembles the small letter 'b'.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="{{url_for('static',filename="C.png")}}"  width="100%" height="225">
            <div class="card-body">
              <p class="card-text">The letter C is signed by curving your open, dominant hand just like the letter 'C', where the top 4 fingers held together make up the top curve, and the thumb makes up the bottom curve.</p>
            </div>
          </div>
        </div>
      </div>
      <br>
      <br>


      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img src="{{url_for('static',filename="D.png")}}" width="300" height="300">
            <div class="card-body">
              <p class="card-text">The letter D is signed by holding up your dominant hand, curving your middle, ring, and pinkie fingers together and touching them to your thumb, while only your index finger is standing upright.This looks just like the small letter 'd'.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="{{url_for('static',filename="E.png")}}" width="300" height="300">
            <div class="card-body">
              <p class="card-text">The letter E is signed by holding up your dominant hand, palm facing out, with your top 4 fingers all touching each other and tightly curved in, while your thumb is also curved and tightly tucked into your palm, touching the tips of the fingers above.This looks just like the small letter 'e'.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="{{url_for('static',filename="F.png")}}" width="300" height="300">
            <div class="card-body">
              <p class="card-text">The letter F is signed by holding up your dominant hand, palm facing out, with your index finger and thumb touching, while your 3 other fingers are held up and spread apart.</p>
            </div>
          </div>
        </div>
      </div>
      <br>
      <br>


      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img src="{{url_for('static',filename="G.png")}}" width="300" height="300">
            <div class="card-body">
              <p class="card-text">The letter G is signed by holding out your dominant hand in a fist, with knuckles lined up vertically. Keep your middle, ring, and pinkie fingers curled in, while your index finger and thumb stick out parallel to each other.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="{{url_for('static',filename="H.png")}}" width="300" height="300">
            <div class="card-body">
              <p class="card-text">The letter H is signed by holding out your dominant hand horizontally, palm facing in, with your index and middle fingers held out together, straight and stacked horizontally, index at the top. The rest of the fingers and thumb are curled in.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="{{url_for('static',filename="I.png")}}" width="300" height="300">
            <div class="card-body">
              <p class="card-text">The letter I is signed by holding up your dominant hand in a fist, palm facing out, with only your pinkie finger sticking up straight.</p>
            </div>
          </div>
        </div>
      </div>
      <br>
      <br>


      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img src="{{url_for('static',filename="J.png")}}" width="300" height="300">
            <div class="card-body">
              <p class="card-text">The letter J is signed by holding up your dominant hand, palm facing out, with your fingers curled into a fist except your pinkie sticking out. Then make a 'J' in the air with your pinkie finger, starting from the top of the 'J' stem down and curving up again to form the bottom part of the letter. It is as if you are dipping your pinkie finger in a jar of jam!</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="{{url_for('static',filename="K.png")}}" width="300" height="300">
            <div class="card-body">
              <p class="card-text">The letter K is signed by holding up your dominant hand, palm facing out, with your index and middle fingers sticking up like the letter 'V' (or like the common "peace" sign), while your thumb is tucked at the base of the two extended fingers. Your two remaining fingers are curled in, touching your palm.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="{{url_for('static',filename="L.png")}}" width="300" height="300">
            <div class="card-body">
              <p class="card-text">The letter L is signed by holding up your dominant hand, palm facing out, with your thumb and index finger sticking out at a right angle to each other, while the last 3 fingers are curled in. This is the capital letter 'L'.</p>
            </div>
          </div>
        </div>
      </div>
      <br>
      <br>

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img src="{{url_for('static',filename="M.png")}}" width="300" height="300">
            <div class="card-body">
              <p class="card-text">The letter M is signed by holding up your dominant hand, palm facing out, with all your fingers curled into your palm. Then tuck your thumb between your ring and pinkie fingers. This sign looks like the small letter 'm', with the 3 fingers' bumps reminding us of the letter written in cursive.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="{{url_for('static',filename="N.png")}}" width="300" height="300">
            <div class="card-body">
              <p class="card-text">The letter N is signed by holding up your dominant hand, palm facing out, with all your fingers curled into your palm. Then tuck your thumb between your middle and ring fingers. This sign looks like the small letter 'n', with the 2 fingers' bumps reminding us of the letter written in cursive.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="{{url_for('static',filename="O.png")}}" width="300" height="300">
            <div class="card-body">
              <p class="card-text">The letter O is signed by curving all your fingers and touching them to your thumb, making the shape of the letter 'O' with your entire hand.</p>
            </div>
          </div>
        </div>
      </div>
      <br>
      <br>


      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img src="{{url_for('static',filename="P.png")}}" width="300" height="300">
            <div class="card-body">
              <p class="card-text">The letter P is signed like K, but the former is held upside down. Hold down your dominant hand, palm facing in, with your index and middle fingers sticking out like an inverted letter 'V', while your thumb is tucked in between the two extended fingers. Your two remaining fingers are curled in, touching your palm.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="{{url_for('static',filename="Q.png")}}" width="300" height="300">
            <div class="card-body">
              <p class="card-text">The letter Q is signed like G, but the former is held upside down.The letter Q is signed by holding down your dominant hand, palm facing in, with your with knuckles lined up horizontally. Keep your middle, ring, and pinkie fingers curled in, while your index finger and thumb stick out parallel to each other, like two legs of a person standing up.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="{{url_for('static',filename="R.png")}}" width="300" height="300">
            <div class="card-body">
              <p class="card-text">The letter R is signed by holding up your dominant hand, palm facing out, with your index and middle fingers intertwined like vines. The rest of your fingers and thumb are curled in. This looks just like the small letter 'r'.</p>
            </div>
          </div>
        </div>
      </div>
      <br>
      <br>

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img src="{{url_for('static',filename="S.png")}}" width="300" height="300">
            <div class="card-body">
              <p class="card-text">The letter S is signed by holding up your dominant hand into a fist, palm facing out.Make sure your thumb is tucked in front of your fingers. Otherwise, you might sign the letter A by mistake.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="{{url_for('static',filename="T.png")}}" width="300" height="300">
            <div class="card-body">
              <p class="card-text">The letter T is signed by holding up your dominant hand into a fist, palm facing out, and your thumb tucked in between your index and middle fingers.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="{{url_for('static',filename="U.png")}}" width="300" height="300">
            <div class="card-body">
              <p class="card-text">The letter U is signed by holding up your dominant hand in a fist, facing outward, with the index & middle fingers sticking up while held together.</p>
            </div>
          </div>
        </div>
      </div>
      <br>
      <br>

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img src="{{url_for('static',filename="V.png")}}" width="300" height="300">
            <div class="card-body">
              <p class="card-text">The letter V is signed by holding up your dominant hand in a fist, facing outward, with the index & middle fingers sticking out and spread apart. It looks just like the letter 'V'.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="{{url_for('static',filename="W.png")}}" width="300" height="300">
            <div class="card-body">
              <p class="card-text">The letter W is signed by holding up your dominant hand in a fist, palm facing out, with your index, middle, and ring fingers sticking out. This looks just like the letter 'W'.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="{{url_for('static',filename="X.png")}}" width="300" height="300">
            <div class="card-body">
              <p class="card-text">The letter X is signed by holding up your dominant hand in a fist, palm facing out. Then stick out your index finger and bend it into a hook.</p>
            </div>
          </div>
        </div>
      </div>
      <br>
      <br>

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img src="{{url_for('static',filename="Y.png")}}" width="300" height="300">
            <div class="card-body">
              <p class="card-text">The letter Y is signed by holding up your dominant hand, palm facing out, with your thumb and pinkie finger sticking out and the rest of your fingers curled in.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="{{url_for('static',filename="Z.png")}}" width="300" height="300">
            <div class="card-body">
              <p class="card-text">The letter Z is signed by holding up the index finger of your dominant hand, palm facing out with the rest of the fingers drawn into a fist, and tracing the letter 'Z' with your index in the air.</p>
            </div>
          </div>
        </div>


    </div>


    
















    

    
  </div>
  
</section>




{% endblock %}
{% block scripts %}
<script src="../static/js/scripts.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
{% endblock %}
